body{
  background-color: #22262a;
  color: aliceblue;
}


/* Login componenet */
.login{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #22262a;
  height: auto;
  width: 23rem;
}
